html {
    height: 100%;
    min-height: 820px;
    min-width: 720px;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("foto.jpg");
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    color: white;
}

.content {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 720px;
    /*border: 1px solid green;*/
}

.opening-hours {
    background-color: white;
    color: #8e7867;
    font-weight: bold;
    font-size: 32px;
}

.banner {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("banner_logo.png");
    background-position-y: center;
    height: 180px;
}

.small-text {
    font-size: 34px;
    line-height: 1.7em;
}

.large-text {
    font-size: 74px;
    text-align: left;
    font-weight: bold;
    padding: 90px 0;
    line-height: 1em;
}

.text {
    text-align: initial;
    line-height: 1.4em;
    width: 80%;
    margin: 0 auto;
}

.bottom-banner {
    text-align: center;
}

.social-network {
    display: inline-block;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    width: 80px;
    height: 150px;
}

.facebook {
    background-image: url("facebook.png");
}

.instagram {
    background-image: url("instagram.png");
}

@media (max-height: 430px) {
    .social-network {
        height: 100px;
    }
}