<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
        {% seo %}
    </head>
    <body>
            <div class="content-frame"></div>
            <div class="content">
                    <div class="banner"> </div>

                    <div class="bottom-banner">
                        <div class="text">
                            <!--<div>Stejně jako kavárna jsou i webové stránky ve výstavbě, ale navštívit nás prozatím můžete na facebooku & instagramu.</div>-->
                            <div>Rekonstrukce je u konce, otevíráme pro Vás v pondělí 27.8.<br>
                                Otevírací doba: po - so 9.00 - 19.00<br>
                                Telefon: <a href="tel:+420732699441">+420 732 699 441</a><br>
                                Těšíme se na návštěvu.</div>
                        </div>

                        <a href="https://www.facebook.com/SchovanaKavarna/" class="social-network facebook"></a>
                        <a href="https://www.instagram.com/schovana_kavarna/" class="social-network instagram"></a>
                    </div>
            </div>
    </body>
</html>
